[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped:silent

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0300: Simplify collection initialization
dotnet_diagnostic.IDE0300.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = true

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# IDE0039: Use local function
dotnet_diagnostic.IDE0039.severity = none

[*.cs]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.private_or_internal_field_should_be__fieldnamingstyle.severity = suggestion
dotnet_naming_rule.private_or_internal_field_should_be__fieldnamingstyle.symbols = private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be__fieldnamingstyle.style = _fieldnamingstyle

dotnet_naming_rule.private_or_internal_static_field_should_be__fieldnamingstyle.severity = suggestion
dotnet_naming_rule.private_or_internal_static_field_should_be__fieldnamingstyle.symbols = private_or_internal_static_field
dotnet_naming_rule.private_or_internal_static_field_should_be__fieldnamingstyle.style = _fieldnamingstyle

# Symbol specifications

dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = internal, private, private_protected
dotnet_naming_symbols.private_or_internal_field.required_modifiers = 

dotnet_naming_symbols.private_or_internal_static_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_static_field.applicable_accessibilities = internal, private, private_protected
dotnet_naming_symbols.private_or_internal_static_field.required_modifiers = static
